#header .dropdown-menu{
    border:1px solid #cfb154;
    background:black;
}

#header .dropdown-menu > li{
    margin-left: 0px;
    background: transparent;
    text-align: center;
    padding: 0px;
}

#header .dropdown-menu > li:not(:last-child){
    border-bottom:1px solid #cfb154;
}

#header .dropdown-menu > li > a{
    padding:10px 20px;
    background: transparent;
}

#header .dropdown-menu > li > a:hover {
    background:none #cfb154;
    color:white;
}

#book_window{
    position: fixed; /* or absolute */
    z-index: 999;
    /*display:;*/
}


.ui-state-default {
    border: 0px !important;
    text-align: center;
}

.ui-datepicker td span, .ui-datepicker td a{
    padding:.6em;
    margin:.5em;
}

.ui-datepicker {
    width: 100%;
    /*background: transparent;*/
    color: #cfb154;
    margin:0 0;
}

.ui-datepicker .ui-datepicker-calendar td span {
    text-align: center;
}

.ui-datepicker .ui-datepicker-calendar td {
    background: transparent;
}

.ui-datepicker .ui-datepicker-calendar td a {
    background: transparent;
    text-align: center;
    text-decoration: none;
    color: #cfb154;
}

.ui-state-disabled .ui-state-default {
    background: transparent;
    color: dimgray;
}

.ui-datepicker .ui-datepicker-calendar{
    margin-top: 10px;
}

.ui-datepicker-prev  {
    background-image: url("../images/prev_arrow.png") !important;
    background-size: cover;
}

.ui-datepicker-next {
    background-image: url("../images/next_arrow.png") !important;
    background-size: cover;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-active {
    background: rgb(207, 177, 84);
    /* Fall-back for browsers that don't
                                       support rgba */
    background: rgba(207, 177, 84, .5);
    border-radius: 50%;
}

.ui-datepicker-header {
    background: #cfb053;
    color: black;
}

.ui-datepicker thead {
    font-weight: normal;
    background: rgba(207, 177, 84, .8);
}

.ui-datepicker th{
    color: black;
    font-weight: normal;
}

/* rest */

::-webkit-scrollbar {
    width:10px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    /*border:1px solid #cfb154;*/
    background-color: #41391d;
}
::-webkit-scrollbar-thumb {
    background: #cfb154;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #cfb154;
}

#block_container{
    width: 100%;
    border-top:1px solid #cfb154;
    padding: 10px 0px;
}

#book_window #blocks{
    width:100%;
    max-width: 100%;
    height:100px;
    overFlow-x:hidden;
    overFlow-y:auto;
    font-size: 13px;
}


#book_window .block{
    display: inline-block;
    width: 45%;
    margin: 5px 2%;
    padding:5px 1%;
    text-align: center;
    color: #cfb154;
}

#book_window #blocks .selected{
    background: #cfb053;
    color:black;
}

#blocks .disable{
    background: transparent;
    color:gray;
}

#title_block{
    height:10%;
    margin: 0;
    border-bottom: 1px solid #cfb154;
    color: #cfb154;
    font-size: 18px;
}

.full-height{
    height:100%;
}

#book_window #form_container{
    border:1px solid #cfb154;display: inline-block;background: black;
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
}

#datepicker_block{
    margin:auto;
    width:100%;
    padding: 0px 5px;
}

#user_info_block{
    margin: 0;
    padding: 0;
    width:100%;
    color:#cfb154;
    font-weight: normal;

}

input.transparent-input{
    background-color:rgba(0,0,0,0) !important;
    border:none;
    border-bottom: 1px dashed #cfb154;
    color:white;
}

label.btn span {
    font-size: 1.5em ;
}

label input[type="radio"] ~ i.fa.fa-circle-o{
    color: #cfb154;    display: inline;
}
label input[type="radio"] ~ i.fa.fa-dot-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
    color: #cfb154;    display: inline;
}
label:hover input[type="radio"] ~ i.fa {
    color: #cfb154;
}

label input[type="checkbox"] ~ i.fa.fa-square-o{
    color: #cfb154;    display: inline;
}
label input[type="checkbox"] ~ i.fa.fa-check-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
    color: #cfb154;    display: inline;
}
label:hover input[type="checkbox"] ~ i.fa {
    color: #cfb154;
}

div[data-toggle="buttons"] label.active{
    color: #cfb154;
}

div[data-toggle="buttons"] label {
    /*margin:0 auto;*/
    display: inline-block;
    padding: 6px 12px;
    /*margin-bottom: 0;*/
    font-size: 10px;
    font-weight: normal;
    line-height: 2em;
    text-align: left;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    background-color: none;
    border: 0px solid
    #cfb154;
    border-radius: 3px;
    color: #cfb154;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

div[data-toggle="buttons"] label:hover {
    color: #cfb154;
}

div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.tooltip.top .tooltip-inner {
    background-color:#cfb154;
    color:black;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #cfb154;
}

#selected_blocks {
    height:0px;
    padding:0px;
    visibility:hidden;
}

label.error {
    color: #a94442;
}

input.error {
    color: red;
}

#book_window{
    position: fixed; /* or absolute */
    width: 100%;
    height: 100%;
    z-index: 999;
    /*display:none;*/
}

#info-container{
    height: 90%;
    padding: 10px 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

#info-block p {
    display:inline-block;
    line-height: 25px;
    font-size: 16px;
}

#info-block p:not(:first-child) {
    font-size: 14px;
}

#title{
    font-size:20px;
}

#fd-window{
    position: fixed; /* or absolute */
    width: 850px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    color: #cfb154;
    background: #000000;
    border: 1px solid #cfb154;
    font-family: "work-sans-regular", serif;
    display:none;
}

#fd-window #fd-title-block{
    margin: 0px 20px;
    padding: 20px 20px;
    border-bottom: 1px solid #cfb154;
}

#fd-window .gold-btn{
    margin-top: 30%;
    margin-left: 0px;
    font-size: 16px;
}
