body{
    background: none black;
}

#package-container{
    background: url('/static/images/slider2.png') no-repeat fixed center;
    /*filter: Alpha(opacity=20);*/
    opacity: 0.2;
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
    background-size: cover;
    position: fixed;
}
#package-fixed .package-item-container{
    margin-top: 10px;
}
#package-fixed .package-item-container:not(:last-child){
    border-bottom: 1px dotted #cfb154;
}

#package-fixed {
    height: 70%;
    max-height: 80%;
    bottom: 40px;
    top: 15%;
    left: 12%;
    width: 80%;
    overFlow-x:hidden;
    overFlow-y:auto;
    position: fixed;
}

#package-fixed p {
    color: white;
    line-height: 30px;
    font-size: 14px;
    /*filter: Alpha(opacity=60);*/
    /*opacity: 0.6;*/
}
#package-fixed .title {
    width: 100%;
    color: #cfb154;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 8px;
    filter: Alpha(opacity=100);
    opacity: 1;
    font-family:work-sans-regular;
}
#package-fixed .desc {
    width: 65%;
    color: #cfb154;
    filter: Alpha(opacity=100);
    opacity: 1;
    font-size: 15px;
    font-family: work-sans-light;
}

#package-content{
    padding-left: 3%;
}

#package-content p {
    color: white;
    opacity: 1;
    font-size: 16px;
    line-height: 50px;
    font-family: work-sans-light;
}

.enquiry{
    width: 150px;
    height: 45px;
    border: 1px solid #cfb154;
    background: transparent;
    color: #cfb154;
    margin-top: 20px;
}

.enquiry:hover{
    font-family: work-sans-regular;
    color:black;
    background: #cfb154;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.row-eq-height [class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
}

::-webkit-scrollbar {
    width:10px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border:1px solid #cfb154;
}
::-webkit-scrollbar-thumb {
    background: #cfb154;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #cfb154;
}